
/* Your CSS Code here. */
.moviePic{
	width:100%;
	height:600px;
	opacity:0.7;
	object-fit:cover;
}

.movieDetail{
	position:absolute;
	width:100%;
	text-align:center;
	top:40%;
	font-size:30px;
	color:white;
}